@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}


body {
    background: linear-gradient(to right, #ff0000, #0000ff);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin-top: 50px;
    border-radius: 80px;
    animation: bounce 3s infinite;
}
h1 {
    color: #ffffff;
    font-family: "Trebuchet MS";
    font-size: 50px;
    border: 2px solid #fff;
    border-radius: 20px;
}
h2 {
    color: #ffffff;
    font-family: cursive;
    padding: 20px;
    text-align: center;
}
i {
    margin-bottom: 30px;
    font-size: 10px;
    background: #f00;
    color: #fff;
    padding: 10px;
    border-radius: 25px;
}